@import "../App.scss";

h1 {
  color: $fontSecondaryColor;
}

.definition {
  margin-top: 200px;
}

.about-definition {
  text-align: right;
  width: 619px;
  height: 160px;
}

.about-shape {
  margin-left: 283px;
  margin-top: 93px;
}
