@import "../App.scss";

h1 {
  color: $fontSecondaryColor;
}

.definition {
  width: 100%;
}

.about-definition {
  text-align: right;

  h3 {
    width: 619px;

    @media screen and (max-width: 768px) {
      width: 80%;
      margin: 63px auto 0 auto;
    }
  }
}

.about-shape {
  margin-left: 283px;
}
