@import "../App.scss";

h1 {
  color: $fontSecondaryColor;
}

.image-definition {
  width: 100%;
}

h2 {
  @media screen and (max-width: 320px) {
    margin-top: 50px;
  }
}

.about-definition {
  text-align: right;

  h3 {
    width: 619px;

    @media screen and (max-width: 768px) {
      width: 80%;
      margin: 63px auto 0 auto;
    }
  }
}

.about-shape {
  margin-left: 283px;
  @media screen and (max-width: 320px) {
    margin-left: 100px;
  }
}
