@import "../App.scss";

.homepage {
  background-image: url("../assets/img/bg-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eebece;
  height: 100vh;
  color: $fontSecondaryColor;

  h1 {
    font-size: 5rem;
    font-weight: 900;
    margin: 100px 0 0 0;
  }

  h2 {
    font-size: 2rem;
    margin-top: 20px;
  }
}
