body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "WorkSans", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

section {
  height: 100vh;
}

section:nth-child(1) {
  background-image: url("./assets/img/bg-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eebece;
}

section:nth-child(2) {
  background-color: #eebece;
}

section:nth-child(3) {
  background-color: black;
}

section:nth-child(4) {
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
